<div class="col-md-12 col-sm-6">
  <!-- Begin sidebar widget -->
  <div class="sidebar-widget sidebar-tags">
    <h3 class="sidebar-heading">Popular Tags</h3>
    <hr class="hr-short">
    <ul class="list-unstyled">
      <li><a href="">#portfolio</a></li>
      <li><a href="">#multipurpose</a></li>
      <li><a href="">#minimal</a></li>
      <li><a href="">#agency</a></li>
      <li><a href="">#creatives</a></li>
      <li><a href="">#freelancers</a></li>
      <li><a href="">#design</a></li>
      <li><a href="">#bootstrap</a></li>
      <li><a href="">#responsive</a></li>
      <li><a href="">#simple</a></li>
      <li><a href="">#creative</a></li>
      <li><a href="">#retina</a></li>
      <li><a href="">#blog</a></li>
      <li><a href="">#wordpress</a></li>
      <li><a href="">#black &amp; white</a></li>
    </ul>
  </div>
  <!-- End sidebar widget -->
</div> <!-- /.col -->
