<header id="header" class="fixed-top">
  <div class="header-inner">

    <div id="logo">
      <a href="index.html" class="logo-dark"><img src="assets/img/logo-dark.png" alt="logo"></a>
      <a href="index.html" class="logo-light"><img src="assets/img/logo-light.png" alt="logo"></a>
    </div>

    <nav class="navbar navbar-default">
      <div class="navbar-inner">

        <!-- Toggle for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown dropdown-hover active">
              <a routerLink="/gallery" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home
                <span class="caret-2"><i class="fas fa-chevron-down"></i></span>
              </a>
            </li>

            <li class="dropdown dropdown-hover">
              <a routerLink="/album" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Galeria
                <span class="caret-2"><i class="fas fa-chevron-down"></i></span>
              </a>
              <ul class="dropdown-menu">

                <li class="dropdown dropdown-submenu dropdown-hover">
                  <a href="#0" class="dropdown-toggle keep-inside-screen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Animes
                    <span class="caret-2"></span>
                  </a>
                </li>

                <li class="dropdown dropdown-submenu dropdown-hover">
                  <a href="#0" class="dropdown-toggle keep-inside-screen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games
                    <span class="caret-2"></span>
                  </a>
                </li>

                <li class="dropdown dropdown-submenu dropdown-hover">
                  <a href="#0" class="dropdown-toggle keep-inside-screen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Series
                    <span class="caret-2"></span>
                  </a>
                </li>

                <li class="dropdown dropdown-submenu dropdown-hover">
                  <a href="#0" class="dropdown-toggle keep-inside-screen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filmes
                    <span class="caret-2"></span>
                  </a>
                </li>
              </ul>
            </li>

            <li class="dropdown dropdown-hover">
              <a routerLink="/eventos" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Eventos
                <span class="caret-2"><i class="fas fa-chevron-down"></i></span>
              </a>
            </li>

            <li class="dropdown dropdown-hover">
              <a routerLink="/blog" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Noticias
                <span class="caret-2"><i class="fas fa-chevron-down"></i></span>
              </a>
            </li>

            <li class="dropdown dropdown-hover dropdown-menu-right">
              <a routerLink="/contact"  class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contato
                <span class="caret-2"><i class="fas fa-chevron-down"></i></span>
              </a>
            </li>
            <!-- End dropdown -->

          </ul> <!-- /.nav -->
        </div> <!-- /.navbar-collapse -->

      </div> <!-- /.navbar-inner -->
    </nav>
    <!-- End menu -->

  </div> <!-- /.header-inner -->
</header>
