<app-preloader></app-preloader >

<app-header></app-header>

  <section id="content-section" class="page page-404 full-page bg-image" style="background-image: url(assets/img/headings/error404.jpg); background-position: 50% 50%;">


    <div class="cover bg-transparent-7-dark"></div>


    <div class="content-wrap align-center text-center padding-60">
      <h1>Pagina não encontrada</h1>
      <h2>Você tentou acessar uma página que se perdeu pelo caminho.</h2>
      <p>A página que você tentou acessar não existe mais, você pode começar um novo caminho voltando para o site ou acessando nosso blog.</p>

      <div class="margin-top-60">
        <a routerLink="" class="btn btn-primary btn-rounded-5x btn-block margin-top-35">Ir para home</a>
        <a routerLink="blog" class="btn btn-primary btn-rounded-5x btn-block margin-top-35">Ir para blog</a>
      </div>
    </div>


  </section>

<app-footer></app-footer>

