<div class="col-md-12 col-sm-6">
  <!-- Begin sidebar widget -->
  <div class="sidebar-widget sidebar-subscribe">
    <h3 class="sidebar-heading">Subscribe</h3>
    <hr class="hr-short">
    <p class="small">Follow our latest news:</p>
    <form id="subscribe-form" class="form-with-button">
      <div class="form-group">
        <input type="email" class="form-control" id="subscribe" name="subscribe" placeholder="enter your email address..." required>
        <button type="submit"><i class="fas fa-envelope-o"></i></button>
      </div>
    </form>
  </div>
  <!-- End sidebar widget -->
</div> <!-- /.col -->
