<div id="body">

  <app-preloader></app-preloader>

  <app-header></app-header>

  <div id="body-content">


    <!-- ================================
    ///// Begin page header section /////
    ================================= -->
    <section id="page-header-secion" class="alter-heading">

      <!-- Begin page header image
      ===============================
      * Use class "parallax" to enable parallax effect.
      -->
      <div class="page-header-image parallax bg-image" style="background-image: url(assets/img/headings/heading-2.jpg); background-position: 50% 50%;"></div>
      <!-- End page header image -->

      <!-- Element cover -->
      <div class="cover page-header-cover"></div>

      <!-- Begin page header info -->
      <div class="container-fluid page-header-content no-padding text-center">
        <div class="row">
          <div class="col-md-12">

            <h1 class="album-title">Galeria</h1>
            <ol class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li class="active">Galeria - Anime</li>
            </ol>
            <div *ngIf="user">{{ usuario }} <a (click)="logOut()">(logout)</a></div>


          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div>
      <!-- End page header info -->

    </section>
    <!-- End page header section -->


    <!-- ============================
    ///// Begin content section /////
    ============================= -->
    <section id="content-section" class="portfolio-list-masonry">
      <div class="container-fluid">
        <div class="row">
          <div class="gallery-top-content">

            <div class="row margin-bottom-40">
              <div class="col-md-8">

                <!-- Begin isotope filter -->
                <div class="isotope-filter">

                  <!-- Begin isotope filter toggle button -->
                  <div class="navbar-header visible-xs">
                    <button type="button" class="navbar-toggle collapsed filter-toggle-btn" data-toggle="collapse" data-target="#isotope-filter-collapse">
                      <span class="text-center">Filter <i class="fas fa-bars"></i></span>
                    </button>
                  </div>
                  <!-- End isotope filter toggle button -->

                  <h2 class="filter-heading">Filters</h2>

                  <!-- Begin isotope filter links -->
                  <div class="isotope-filter-links collapse navbar-collapse no-padding" id="isotope-filter-collapse">
                    <a (click)="filterAll()" data-filter="*">all</a>
                    <a (click)="filterElements('fashion')" data-filter=".fashion">Fashion</a>
                    <a (click)="filterElements('portraits')" data-filter=".portraits">Portraits</a>
                    <a (click)="filterElements('black-and-white')" data-filter=".black-and-white">Black &amp; White</a>
                    <a (click)="filterElements('outdoor')">Outdoor</a>
                  </div>
                  <!-- End isotope filter links -->

                </div>
                <!-- End isotope filter -->

              </div> <!-- /.col -->

              <div class="col-md-4">

                <!-- Begin album attributes -->
                <ul class="album-attributes margin-top-30 hide-from-md">

                  <!-- Begin show items on page
                  ==============================
                  * Use class "options-dark" to enable dark dropdown menu.
                  -->
                  <li><form class="form-inline show-on-page">
                    <div class="form-group">
                      <label for="show-items">Show:</label>
                      <select id="show-items" class="select-styled">
                        <option value="show-15-items">15 items</option>
                        <option value="show-25-items">25 items</option>
                        <option value="show-50-items">50 items</option>
                        <option value="show-75-items">75 items</option>
                        <option value="show-100-items">100 items</option>
                      </select>
                    </div>
                  </form></li>
                  <!-- End show items on page -->

                </ul>
                <!-- End album attributes -->

              </div> <!-- /.col -->
            </div> <!-- /.row -->

          </div>
          <div class="col-md-12">

            <!-- Begin content wrap -->
            <div class="content-wrapa">

              <!-- Begin isotope
              ===================
              * Use classes "gutter-1", "gutter-2" or "gutter-3" to add more space between items.
              * Use class "col-1", "col-2", "col-3", "col-4", "col-5" or "col-6" for columns.
              -->
              <div class="isotope gutter-2 col-6">

                <!-- Begin gallery top content -->

                <!-- End gallery top content -->


                <!-- Begin isotope items (album list items)
                =============================================
                * Use class "caption-gradient" to enable gradient caption.
                * Use class "caption-outside" to enable caption outside.
                * Use class "caption-dark" to enable dark caption (no effect if "caption-gradient" or "caption-outside" is used).
                * Use class "caption-boxed" to enable boxed caption (no effect if "caption-gradient" or "caption-outside" is used).
                * Use class "caption-sm", "caption-lg" or "caption-xlg" to change caption size.
                * Use classes "ali-style-1", "ali-style-2" to change album list item style (no effect if "gutter-1" is used).
                * Note: For grid layout make sure that your images are the same dimensions.
                * Note: For masonry layout make sure that your images are the different dimensions.
                -->
                <div #grid class="isotope-items-wrap ali-style-2 caption-outside">

                  <!-- Grid sizer (do not remove!!!) -->
                  <div class="grid-sizer"></div>



                  <!-- //////////////////
                  // Begin isotope item. Note: use class "width2" for alternative item width (works best on first item)
                  /////////////////////// -->
                  <div class="isotope-item fashion">

                    <!-- Begin album list item -->
                    <div class="album-list-item">
                      <a class="ali-link" href="portfolio-single-1.html">
                        <div class="ali-img-wrap">
                          <img class="ali-img" src="../../../../assets/img/galeria/halfangel-016.jpg" alt="image">
                        </div>
                        <div class="ali-caption">
                          <h2 class="ali-title">Paris Fashion Week</h2>
                          <div class="ali-meta">15 photos · 134 views</div>
                        </div>
                      </a>
                      <a href="#0" class="album-share" title="Share this album" data-toggle="modal" data-target="#modal-76532457">
                        <i class="fas fa-share-alt"></i>
                      </a>

                      <!-- Begin album share modal -->
                      <div id="modal-76532457" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-center">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Share to:</h4>
                            </div>
                            <div class="modal-body text-center">
                              <!-- Begin modal share -->
                              <div class="modal-share">
                                <ul>
                                  <li><a href="#0" class="btn btn-social-min btn-facebook btn-rounded-full"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-twitter btn-rounded-full"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-google btn-rounded-full"><i class="fab fa-google-plus-g"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-pinterest btn-rounded-full"><i class="fab fa-pinterest-p"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-instagram btn-rounded-full"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <input class="grab-link" type="text" readonly="" value="https://your-site.com/your-album-link" onclick="this.select()">
                              </div>
                              <!-- End modal share -->
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div>
                      <!-- End album share modal -->

                    </div>
                    <!-- End album list item -->

                  </div>
                  <!-- End isotope item -->

                  <!-- //////////////////
                  // Begin isotope item
                  /////////////////////// -->
                  <div class="isotope-item fashion">

                    <!-- Begin album list item -->
                    <div class="album-list-item">
                      <a class="ali-link" href="portfolio-single-2.html">
                        <div class="ali-img-wrap">
                          <img class="ali-img" src="../../../../assets/img/galeria/halfangel-022.webp" alt="image">
                        </div>
                        <div class="ali-caption">
                          <h2 class="ali-title">Fantastic Freckles</h2>
                          <div class="ali-meta">48 photos · 438 views</div>
                        </div>
                      </a>
                      <a href="#0" class="album-share" title="Share this album" data-toggle="modal" data-target="#modal-06776588">
                        <i class="fas fa-share-alt"></i>
                      </a>

                      <!-- Begin album share modal -->
                      <div id="modal-06776588" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-center">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Share to:</h4>
                            </div>
                            <div class="modal-body text-center">
                              <!-- Begin modal share -->
                              <div class="modal-share">
                                <ul>
                                  <li><a href="#0" class="btn btn-social-min btn-facebook btn-rounded-full"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-twitter btn-rounded-full"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-google btn-rounded-full"><i class="fab fa-google-plus-g"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-pinterest btn-rounded-full"><i class="fab fa-pinterest-p"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-instagram btn-rounded-full"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <input class="grab-link" type="text" readonly="" value="https://your-site.com/your-album-link" onclick="this.select()">
                              </div>
                              <!-- End modal share -->
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div>
                      <!-- End album share modal -->

                    </div>
                    <!-- End album list item -->

                  </div>
                  <!-- End isotope item -->

                  <!-- //////////////////
                  // Begin isotope item
                  /////////////////////// -->
                  <div class="isotope-item portraits">

                    <!-- Begin album list item -->
                    <div class="album-list-item">
                      <a class="ali-link" href="portfolio-single-3.html">
                        <div class="ali-img-wrap">
                          <img class="ali-img" src="../../../../assets/img/galeria/halfangel-022.webp" alt="image">
                        </div>
                        <div class="ali-caption">
                          <h2 class="ali-title">Summer Spread</h2>
                          <div class="ali-meta">33 photos · 566 views</div>
                        </div>
                      </a>
                      <a href="#0" class="album-share" title="Share this album" data-toggle="modal" data-target="#modal-78073045">
                        <i class="fas fa-share-alt"></i>
                      </a>

                      <!-- Begin album share modal -->
                      <div id="modal-78073045" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-center">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Share to:</h4>
                            </div>
                            <div class="modal-body text-center">
                              <!-- Begin modal share -->
                              <div class="modal-share">
                                <ul>
                                  <li><a href="#0" class="btn btn-social-min btn-facebook btn-rounded-full"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-twitter btn-rounded-full"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-google btn-rounded-full"><i class="fab fa-google-plus-g"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-pinterest btn-rounded-full"><i class="fab fa-pinterest-p"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-instagram btn-rounded-full"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <input class="grab-link" type="text" readonly="" value="https://your-site.com/your-album-link" onclick="this.select()">
                              </div>
                              <!-- End modal share -->
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div>
                      <!-- End album share modal -->

                    </div>
                    <!-- End album list item -->

                  </div>
                  <!-- End isotope item -->

                  <!-- //////////////////
                  // Begin isotope item
                  /////////////////////// -->
                  <div class="isotope-item portraits">

                    <!-- Begin album list item -->
                    <div class="album-list-item">
                      <a class="ali-link" href="portfolio-single-4.html">
                        <div class="ali-img-wrap">
                          <img class="ali-img" src="../../../../assets/img/galeria/halfangel-026.webp" alt="image">
                        </div>
                        <div class="ali-caption">
                          <h2 class="ali-title">Sit Back and Relax</h2>
                          <div class="ali-meta">152 photos · 449 views</div>
                        </div>
                      </a>
                      <a href="#0" class="album-share" title="Share this album" data-toggle="modal" data-target="#modal-22456654">
                        <i class="fas fa-share-alt"></i>
                      </a>

                      <!-- Begin album share modal -->
                      <div id="modal-22456654" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-center">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Share to:</h4>
                            </div>
                            <div class="modal-body text-center">
                              <!-- Begin modal share -->
                              <div class="modal-share">
                                <ul>
                                  <li><a href="#0" class="btn btn-social-min btn-facebook btn-rounded-full"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-twitter btn-rounded-full"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-google btn-rounded-full"><i class="fab fa-google-plus-g"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-pinterest btn-rounded-full"><i class="fab fa-pinterest-p"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-instagram btn-rounded-full"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <input class="grab-link" type="text" readonly="" value="https://your-site.com/your-album-link" onclick="this.select()">
                              </div>
                              <!-- End modal share -->
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div>
                      <!-- End album share modal -->

                    </div>
                    <!-- End album list item -->

                  </div>
                  <!-- End isotope item -->

                  <!-- //////////////////
                  // Begin isotope item
                  /////////////////////// -->
                  <div class="isotope-item portraits">

                    <!-- Begin album list item -->
                    <div class="album-list-item">
                      <a class="ali-link" href="portfolio-single-5.html">
                        <div class="ali-img-wrap">
                          <img class="ali-img" src="../../../../assets/img/galeria/halfangel-031.heic" alt="image">
                        </div>
                        <div class="ali-caption">
                          <h2 class="ali-title">Dad's Day</h2>
                          <div class="ali-meta">9 photos · 67 views</div>
                        </div>
                      </a>
                      <a href="#0" class="album-share" title="Share this album" data-toggle="modal" data-target="#modal-29785635">
                        <i class="fas fa-share-alt"></i>
                      </a>

                      <!-- Begin album share modal -->
                      <div id="modal-29785635" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-center">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Share to:</h4>
                            </div>
                            <div class="modal-body text-center">
                              <!-- Begin modal share -->
                              <div class="modal-share">
                                <ul>
                                  <li><a href="#0" class="btn btn-social-min btn-facebook btn-rounded-full"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-twitter btn-rounded-full"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-google btn-rounded-full"><i class="fab fa-google-plus-g"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-pinterest btn-rounded-full"><i class="fab fa-pinterest-p"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-instagram btn-rounded-full"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <input class="grab-link" type="text" readonly="" value="https://your-site.com/your-album-link" onclick="this.select()">
                              </div>
                              <!-- End modal share -->
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div>
                      <!-- End album share modal -->

                    </div>
                    <!-- End album list item -->

                  </div>
                  <!-- End isotope item -->

                  <!-- //////////////////
                  // Begin isotope item
                  /////////////////////// -->
                  <div class="isotope-item outdoor">

                    <!-- Begin album list item -->
                    <div class="album-list-item">
                      <a class="ali-link" href="portfolio-single-1.html">
                        <div class="ali-img-wrap">
                          <img class="ali-img" src="../../../../assets/img/galeria/halfangel-034.jpg" alt="image">
                        </div>
                        <div class="ali-caption">
                          <h2 class="ali-title">Say Goodbye To Autumn</h2>
                          <div class="ali-meta">211 photos · 890 views</div>
                        </div>
                      </a>
                      <a href="#0" class="album-share" title="Share this album" data-toggle="modal" data-target="#modal-19084434">
                        <i class="fas fa-share-alt"></i>
                      </a>

                      <!-- Begin album share modal -->
                      <div id="modal-19084434" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-center">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Share to:</h4>
                            </div>
                            <div class="modal-body text-center">
                              <!-- Begin modal share -->
                              <div class="modal-share">
                                <ul>
                                  <li><a href="#0" class="btn btn-social-min btn-facebook btn-rounded-full"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-twitter btn-rounded-full"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-google btn-rounded-full"><i class="fab fa-google-plus-g"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-pinterest btn-rounded-full"><i class="fab fa-pinterest-p"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-instagram btn-rounded-full"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <input class="grab-link" type="text" readonly="" value="https://your-site.com/your-album-link" onclick="this.select()">
                              </div>
                              <!-- End modal share -->
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div>
                      <!-- End album share modal -->

                    </div>
                    <!-- End album list item -->

                  </div>
                  <!-- End isotope item -->

                  <!-- //////////////////
                  // Begin isotope item
                  /////////////////////// -->
                  <div class="isotope-item outdoor">

                    <!-- Begin album list item -->
                    <div class="album-list-item">
                      <a class="ali-link" href="portfolio-single-2.html">
                        <div class="ali-img-wrap">
                          <img class="ali-img" src="../../../../assets/img/galeria/halfangel-038.webp" alt="image">
                        </div>
                        <div class="ali-caption">
                          <h2 class="ali-title">Beauty &amp; Fashion</h2>
                          <div class="ali-meta">153 photos · 672 views</div>
                        </div>
                      </a>
                      <a href="#0" class="album-share" title="Share this album" data-toggle="modal" data-target="#modal-96555434">
                        <i class="fas fa-share-alt"></i>
                      </a>

                      <!-- Begin album share modal -->
                      <div id="modal-96555434" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-center">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Share to:</h4>
                            </div>
                            <div class="modal-body text-center">
                              <!-- Begin modal share -->
                              <div class="modal-share">
                                <ul>
                                  <li><a href="#0" class="btn btn-social-min btn-facebook btn-rounded-full"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-twitter btn-rounded-full"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-google btn-rounded-full"><i class="fab fa-google-plus-g"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-pinterest btn-rounded-full"><i class="fab fa-pinterest-p"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-instagram btn-rounded-full"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <input class="grab-link" type="text" readonly="" value="https://your-site.com/your-album-link" onclick="this.select()">
                              </div>
                              <!-- End modal share -->
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div>
                      <!-- End album share modal -->

                    </div>
                    <!-- End album list item -->

                  </div>
                  <!-- End isotope item -->

                  <!-- //////////////////
                  // Begin isotope item
                  /////////////////////// -->
                  <div class="isotope-item outdoor">

                    <!-- Begin album list item -->
                    <div class="album-list-item">
                      <a class="ali-link" href="portfolio-single-3.html">
                        <div class="ali-img-wrap">
                          <img class="ali-img" src="../../../../assets/img/galeria/halfangel-038.webp" alt="image">
                        </div>
                        <div class="ali-caption">
                          <h2 class="ali-title">Fabulous Fog</h2>
                          <div class="ali-meta">347 photos · 1349 views</div>
                        </div>
                      </a>
                      <a href="#0" class="album-share" title="Share this album" data-toggle="modal" data-target="#modal-30986671">
                        <i class="fas fa-share-alt"></i>
                      </a>

                      <!-- Begin album share modal -->
                      <div id="modal-30986671" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-center">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Share to:</h4>
                            </div>
                            <div class="modal-body text-center">
                              <!-- Begin modal share -->
                              <div class="modal-share">
                                <ul>
                                  <li><a href="#0" class="btn btn-social-min btn-facebook btn-rounded-full"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-twitter btn-rounded-full"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-google btn-rounded-full"><i class="fab fa-google-plus-g"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-pinterest btn-rounded-full"><i class="fab fa-pinterest-p"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-instagram btn-rounded-full"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <input class="grab-link" type="text" readonly="" value="https://your-site.com/your-album-link" onclick="this.select()">
                              </div>
                              <!-- End modal share -->
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div>
                      <!-- End album share modal -->

                    </div>
                    <!-- End album list item -->

                  </div>
                  <!-- End isotope item -->

                  <!-- //////////////////
                  // Begin isotope item
                  /////////////////////// -->
                  <div class="isotope-item black-and-white">

                    <!-- Begin album list item -->
                    <div class="album-list-item">
                      <a class="ali-link" href="portfolio-single-4.html">
                        <div class="ali-img-wrap">
                          <img class="ali-img" src="../../../../assets/img/galeria/halfangel-037.webp" alt="image">
                        </div>
                        <div class="ali-caption">
                          <h2 class="ali-title">Monday's Monochromes</h2>
                          <div class="ali-meta">15 photos · 134 views</div>
                        </div>
                      </a>
                      <a href="#0" class="album-share" title="Share this album" data-toggle="modal" data-target="#modal-57830458">
                        <i class="fas fa-share-alt"></i>
                      </a>

                      <!-- Begin album share modal -->
                      <div id="modal-57830458" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-center">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Share to:</h4>
                            </div>
                            <div class="modal-body text-center">
                              <!-- Begin modal share -->
                              <div class="modal-share">
                                <ul>
                                  <li><a href="#0" class="btn btn-social-min btn-facebook btn-rounded-full"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-twitter btn-rounded-full"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-google btn-rounded-full"><i class="fab fa-google-plus-g"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-pinterest btn-rounded-full"><i class="fab fa-pinterest-p"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-instagram btn-rounded-full"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <input class="grab-link" type="text" readonly="" value="https://your-site.com/your-album-link" onclick="this.select()">
                              </div>
                              <!-- End modal share -->
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div>
                      <!-- End album share modal -->

                    </div>
                    <!-- End album list item -->

                  </div>
                  <!-- End isotope item -->

                  <!-- //////////////////
                  // Begin isotope item
                  /////////////////////// -->
                  <div class="isotope-item black-and-white">

                    <!-- Begin album list item -->
                    <div class="album-list-item">
                      <a class="ali-link" href="portfolio-single-5.html">
                        <div class="ali-img-wrap">
                          <img class="ali-img" src="../../../../assets/img/galeria/halfangel-017.jpg" alt="image">
                        </div>
                        <div class="ali-caption">
                          <h2 class="ali-title">Magically Surreal</h2>
                          <div class="ali-meta">62 photos · 850 views</div>
                        </div>
                      </a>
                      <a href="#0" class="album-share" title="Share this album" data-toggle="modal" data-target="#modal-39873656">
                        <i class="fas fa-share-alt"></i>
                      </a>

                      <!-- Begin album share modal -->
                      <div id="modal-39873656" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-center">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Share to:</h4>
                            </div>
                            <div class="modal-body text-center">
                              <!-- Begin modal share -->
                              <div class="modal-share">
                                <ul>
                                  <li><a href="#0" class="btn btn-social-min btn-facebook btn-rounded-full"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-twitter btn-rounded-full"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-google btn-rounded-full"><i class="fab fa-google-plus-g"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-pinterest btn-rounded-full"><i class="fab fa-pinterest-p"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-instagram btn-rounded-full"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <input class="grab-link" type="text" readonly="" value="https://your-site.com/your-album-link" onclick="this.select()">
                              </div>
                              <!-- End modal share -->
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div>
                      <!-- End album share modal -->

                    </div>
                    <!-- End album list item -->

                  </div>
                  <!-- End isotope item -->

                  <!-- //////////////////
                  // Begin isotope item
                  /////////////////////// -->
                  <div class="isotope-item black-and-white">

                    <!-- Begin album list item -->
                    <div class="album-list-item">
                      <a class="ali-link" href="portfolio-single-1.html">
                        <div class="ali-img-wrap">
                          <img class="ali-img" src="../../../../assets/img/galeria/halfangel-013.jpg" alt="image">
                        </div>
                        <div class="ali-caption">
                          <h2 class="ali-title">Amazing iPhoneography</h2>
                          <div class="ali-meta">15 photos · 134 views</div>
                        </div>
                      </a>
                      <a href="#0" class="album-share" title="Share this album" data-toggle="modal" data-target="#modal-09882310">
                        <i class="fas fa-share-alt"></i>
                      </a>

                      <!-- Begin album share modal -->
                      <div id="modal-09882310" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-center">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Share to:</h4>
                            </div>
                            <div class="modal-body text-center">
                              <!-- Begin modal share -->
                              <div class="modal-share">
                                <ul>
                                  <li><a href="#0" class="btn btn-social-min btn-facebook btn-rounded-full"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-twitter btn-rounded-full"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-google btn-rounded-full"><i class="fab fa-google-plus-g"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-pinterest btn-rounded-full"><i class="fab fa-pinterest-p"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-instagram btn-rounded-full"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <input class="grab-link" type="text" readonly="" value="https://your-site.com/your-album-link" onclick="this.select()">
                              </div>
                              <!-- End modal share -->
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div>
                      <!-- End album share modal -->

                    </div>
                    <!-- End album list item -->

                  </div>
                  <!-- End isotope item -->

                  <!-- //////////////////
                  // Begin isotope item
                  /////////////////////// -->
                  <div class="isotope-item black-and-white">

                    <!-- Begin album list item -->
                    <div class="album-list-item">
                      <a class="ali-link" href="portfolio-single-2.html">
                        <div class="ali-img-wrap">
                          <img class="ali-img" src="../../../../assets/img/galeria/halfangel-015.jpg" alt="image">
                        </div>
                        <div class="ali-caption">
                          <h2 class="ali-title">Ghost Towns</h2>
                          <div class="ali-meta">345 photos · 5654 views</div>
                        </div>
                      </a>
                      <a href="#0" class="album-share" title="Share this album" data-toggle="modal" data-target="#modal-29118766">
                        <i class="fas fa-share-alt"></i>
                      </a>

                      <!-- Begin album share modal -->
                      <div id="modal-29118766" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-center">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Share to:</h4>
                            </div>
                            <div class="modal-body text-center">
                              <!-- Begin modal share -->
                              <div class="modal-share">
                                <ul>
                                  <li><a href="#0" class="btn btn-social-min btn-facebook btn-rounded-full"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-twitter btn-rounded-full"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-google btn-rounded-full"><i class="fab fa-google-plus-g"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-pinterest btn-rounded-full"><i class="fab fa-pinterest-p"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-instagram btn-rounded-full"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <input class="grab-link" type="text" readonly="" value="https://your-site.com/your-album-link" onclick="this.select()">
                              </div>
                              <!-- End modal share -->
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div>
                      <!-- End album share modal -->

                    </div>
                    <!-- End album list item -->

                  </div>
                  <!-- End isotope item -->

                  <!-- //////////////////
                  // Begin isotope item
                  /////////////////////// -->
                  <div class="isotope-item black-and-white">

                    <!-- Begin album list item -->
                    <div class="album-list-item">
                      <a class="ali-link" href="portfolio-single-3.html">
                        <div class="ali-img-wrap">
                          <img class="ali-img" src="../../../../assets/img/galeria/halfangel-013.jpg" alt="image">
                        </div>
                        <div class="ali-caption">
                          <h2 class="ali-title">The Golden Hour</h2>
                          <div class="ali-meta">32 photos · 334 views</div>
                        </div>
                      </a>
                      <a href="#0" class="album-share" title="Share this album" data-toggle="modal" data-target="#modal-38879541">
                        <i class="fas fa-share-alt"></i>
                      </a>

                      <!-- Begin album share modal -->
                      <div id="modal-38879541" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-center">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Share to:</h4>
                            </div>
                            <div class="modal-body text-center">
                              <!-- Begin modal share -->
                              <div class="modal-share">
                                <ul>
                                  <li><a href="#0" class="btn btn-social-min btn-facebook btn-rounded-full"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-twitter btn-rounded-full"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-google btn-rounded-full"><i class="fab fa-google-plus-g"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-pinterest btn-rounded-full"><i class="fab fa-pinterest-p"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-instagram btn-rounded-full"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <input class="grab-link" type="text" readonly="" value="https://your-site.com/your-album-link" onclick="this.select()">
                              </div>
                              <!-- End modal share -->
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div>
                      <!-- End album share modal -->

                    </div>
                    <!-- End album list item -->

                  </div>
                  <!-- End isotope item -->

                </div>
                <!-- End isotope items wrap -->

              </div>
              <!-- End isotope -->

            </div>
            <!-- End content wrap -->

          </div> <!-- /.col -->
        </div> <!-- /.row -->

        <div class="row">
          <div class="col-md-8">

            <!-- Begin pagination -->
            <nav class="pagination-wrap">
              <ul class="pagination">
                <li>
                  <a href="" aria-label="Previous">
                    <span aria-hidden="true">First</span>
                  </a>
                </li>
                <li><a href="">Prev</a></li>
                <li class="active"><a href="#0">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="#0">...</a></li>
                <li><a href="">6</a></li>
                <li><a href="">7</a></li>
                <li><a href="">8</a></li>
                <li><a href="">Next</a></li>
                <li>
                  <a href="" aria-label="Next">
                    <span aria-hidden="true">Last</span>
                  </a>
                </li>
              </ul>
            </nav>
            <!-- End pagination -->

          </div> <!-- /.col -->

          <div class="col-md-4">

            <!-- Begin pagination info -->
            <div class="pagination-info ">
              <span>Showing page 1 of 8</span>
              <span>Items 1 - 15 of 94</span>
            </div>
            <!-- End pagination info -->

          </div> <!-- /.col -->
        </div> <!-- /.row -->

      </div> <!-- /.container -->
    </section>
    <!-- End content section -->

  <div class="footer">
    <app-footer></app-footer>
  </div>

  </div>
  <!-- End body content -->

  <!-- Scroll to top button -->
  <a href="#body" class="scrolltotop sm-scroll"><i class="fas fa-chevron-up"></i></a>


