<app-preloader></app-preloader>

  <app-header></app-header>

  <div id="body-content">


    <!-- ================================
    ///// Begin page header section /////
    ================================= -->
    <section id="page-header-secion" class="alter-heading">

      <!-- Begin page header image
      ===============================
      * Use class "parallax" to enable parallax effect.
      -->
      <div class="page-header-image parallax bg-image" style="background-image: url(assets/img/headings/heading-9.jpg); background-position: 50% 50%;"></div>
      <!-- End page header image -->

      <!-- Element cover -->
      <div class="cover page-header-cover"></div>

      <!-- Begin page header info -->
      <div class="container page-header-content no-padding max-width-800 text-center">
        <div class="row">
          <div class="col-lg-12">

            <h1 class="album-title">Noticias</h1>
            <ol class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li class="active">Blog</li>
            </ol>

          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div>
      <!-- End page header info -->

    </section>
    <!-- End page header section -->


    <!-- ================================
    /////// Begin content section ///////
    ================================= -->
    <section id="content-section" class="page">

      <div class="container max-width-1300">
        <div class="row">
          <div class="col-md-12">

            <!-- Begin content wrap -->
            <div class="content-wrap">

              <!-- Begin blog list
              ===================== -->
              <div class="blog-list">
                <div class="row">

                  <!-- Left column -->
                  <div class="col-md-8 col-md-push-4">

                    <!-- Begin blog list items wrap
                    ================================= -->
                    <div class="blog-list-items-wrap">

                      <!-- Begin blog list item -->
                      <div class="blog-list-item" *ngFor="let data of news">
                        <a routerLink="/noticia" class="bli-image bg-image" style="background-image: url({{data.photoUrl}}); background-position: 50% 50%;">
                        </a>
                        <div class="bli-info">
                          <h2 class="bli-title"><a href="blog-single-sidebar-right.html" title="Paris Fashion Week">{{data.title}}</a></h2>
                          <div class="bli-meta">
                            <a href="" class="article-time"> {{data.createdAt}}</a> - by:
                            <a href="" class="article-author">{{data.autor}}</a> - in
                            <a href="" class="article-category">#{{data.category}}</a>
                          </div>
                          <p class="bli-desc">
                            {{data.description | slice:0:300}}
                            ...</p>
                          <div class="bli-button">
                            <a href="blog-single-sidebar-right.html" class="btn btn-dark btn-rounded-5x btn-sm">Ler Mais</a>
                          </div>
                        </div>
                      </div>
                      <!-- End blog list item -->

                    </div>
                    <!-- End blog list items wrap -->

                  </div> <!-- /.col (Left column) -->


                  <!-- Right column -->
                  <div class="col-md-4 col-md-pull-8">

                    <!-- Begin sidebar
                    ==================== -->
                    <div class="sidebar sidebar-left">
                      <div class="row">

                        <div class="col-sm-12">
                          <!-- Begin sidebar widget -->
                          <div class="sidebar-widget sidebar-search no-margin-top">
                            <form id="blog-search-form">
                              <div class="form-group">
                                <input type="text" class="form-control" id="blog-search" name="search" placeholder="Search">
                                <button type="submit"><i class="fas fa-search"></i></button>
                              </div>
                            </form>
                          </div>
                          <!-- End sidebar widget -->
                        </div> <!-- /.col -->

                        <div class="col-md-12 col-sm-6">
                          <!-- Begin sidebar widget -->
                          <div class="sidebar-widget sidebar-categories">
                            <h3 class="sidebar-heading">Categorias</h3>
                            <hr class="hr-short">
                            <ul class="list-unstyled" *ngFor="let data of category">
                              <li><a href="#">#{{data.name}} <span></span></a></li>
                            </ul>
                          </div>
                          <!-- End sidebar widget -->
                        </div> <!-- /.col -->

                        <div class="col-md-12 col-sm-6">
                          <!-- Begin sidebar widget -->
                          <div class="sidebar-widget sidebar-post-list">
                            <h3 class="sidebar-heading">Mais Recentes</h3>
                            <hr class="hr-short">
                            <ul class="list-unstyled">
                              <li *ngFor="let data of recentes">
                                <a href="blog-single-sidebar-right.html" class="post-thumb bg-image" style="background-image: url({{data.photoUrl}}); background-position: 50% 50%;"></a>
                                <div class="post-data">
                                  <h5 class="post-title"><a href="blog-single-sidebar-right.html">{{data.title | slice:0:50}}</a></h5>
                                  <span class="author">By: <a href="">{{data.autor}}</a></span>
                                  <span class="date">{{data.createdAt}}</span>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!-- End sidebar widget -->
                        </div> <!-- /.col -->

                       <!--  <div class="col-md-12 col-sm-6">
                          <div class="sidebar-widget sidebar-comments-list">
                            <h3 class="sidebar-heading">Ultimos Comentarios</h3>
                            <hr class="hr-short">
                            <ul class="list-unstyled">

                              <li class="sidebar-comment-wrap">
                                <a href="blog-single-sidebar-right.html" class="sidebar-comment-avatar bg-image" style="background-image: url(assets/img/blog/small/avatar/avatar-1.jpg); background-position: 50% 50%;"></a>
                                <div class="sidebar-comment-meta">
                                  <div class="sidebar-comment-data">
                                    <span class="author">By: <a href="">Brayan Peterson</a></span>
                                    <span class="date">29 jan 2016</span>
                                  </div>
                                  <div class="sidebar-comment">
                                    <a href="blog-single-sidebar-right.html"><p>Aliquet praesent tempor ac dolor aliquet. Risus mi vitae hendrerit orci vitae amet...</p></a>
                                  </div>
                                </div>
                              </li>

                              <li class="sidebar-comment-wrap">
                                <a href="blog-single-sidebar-right.html" class="sidebar-comment-avatar bg-image" style="background-image: url(assets/img/blog/small/avatar/avatar-3.jpg); background-position: 50% 50%;"></a>
                                <div class="sidebar-comment-meta">
                                  <div class="sidebar-comment-data">
                                    <span class="author">By: <a href="">David Bradley</a></span>
                                    <span class="date">26 jan 2016</span>
                                  </div>
                                  <div class="sidebar-comment">
                                    <a href="blog-single-sidebar-right.html"><p>Iaculis molestie rhoncus. Amet maecenas ut orci id dui. Et dui morbi. Non mauris...</p></a>
                                  </div>
                                </div>
                              </li>

                              <li class="sidebar-comment-wrap">
                                <a href="blog-single-sidebar-right.html" class="sidebar-comment-avatar bg-image" style="background-image: url(assets/img/blog/small/avatar/avatar-2.jpg); background-position: 50% 50%;"></a>
                                <div class="sidebar-comment-meta">
                                  <div class="sidebar-comment-data">
                                    <span class="author">By: <a href="">Kate Dixon</a></span>
                                    <span class="date">19 jan 2016</span>
                                  </div>
                                  <div class="sidebar-comment">
                                    <a href="blog-single-sidebar-right.html"><p>Feugiat fringilla sequi. Anunc adipiscing nisl lorem morbi tincidunt gravida...</p></a>
                                  </div>
                                </div>
                              </li>

                            </ul>
                          </div>

                        </div>  -->

                        <!-- <div class="col-md-12 col-sm-6">

                          <div class="sidebar-widget sidebar-tags">
                            <h3 class="sidebar-heading">Tags Populares</h3>
                            <hr class="hr-short">
                            <ul class="list-unstyled">
                              <li><a href="">#portfolio</a></li>
                              <li><a href="">#multipurpose</a></li>
                              <li><a href="">#minimal</a></li>
                              <li><a href="">#agency</a></li>
                              <li><a href="">#creatives</a></li>
                              <li><a href="">#freelancers</a></li>
                              <li><a href="">#design</a></li>
                              <li><a href="">#bootstrap</a></li>
                              <li><a href="">#responsive</a></li>
                              <li><a href="">#simple</a></li>
                              <li><a href="">#creative</a></li>
                              <li><a href="">#retina</a></li>
                              <li><a href="">#blog</a></li>
                              <li><a href="">#wordpress</a></li>
                              <li><a href="">#black &amp; white</a></li>
                            </ul>
                          </div>

                        </div> -->

                        <div class="col-md-12 col-sm-6">
                          <!-- Begin sidebar widget -->
                          <div class="sidebar-widget sidebar-photo-stream">
                            <h3 class="sidebar-heading">Fluxo de fotos</h3>
                            <hr class="hr-short">

                            <!-- Begin thumbnail list
                            ==========================
                            * Use class "col-2", "col-3", "col-4" "col-5" or "col-6" for thumbnail list columns.
                            * Use class "gutter-1", "gutter-2", "gutter-3", "gutter-4" or "gutter-5" to add more space between items.
                            -->
                            <ul class="thumb-list col-4 gutter-4">
                              <li  *ngFor="let data of photos"><a href="album-single-masonry-5col.html" class="thumb-list-item bg-image" style="background-image: url({{data.photoUrl}});"></a></li>
                            </ul>
                            <!-- End thumbnail list -->

                          </div>
                          <!-- End sidebar widget -->
                        </div> <!-- /.col -->

                        <div class="col-md-12 col-sm-6">
                          <!-- Begin sidebar widget -->
                          <div class="sidebar-widget sidebar-subscribe">
                            <h3 class="sidebar-heading">Incrição</h3>
                            <hr class="hr-short">
                            <p class="small">
                              Acompanhe nossas últimas novidades:</p>
                            <form id="subscribe-form" class="form-with-button">
                              <div class="form-group">
                                <input type="email" class="form-control" id="subscribe" name="subscribe" placeholder="informe seu endereço de e-mail..." required>
                                <button type="submit"><i class="fas fa-envelope-o"></i></button>
                              </div>
                            </form>
                          </div>
                          <!-- End sidebar widget -->
                        </div> <!-- /.col -->

                        <div class="col-md-12 col-sm-6">
                          <!-- Begin sidebar widget -->
                          <div class="sidebar-widget sidebar-meta">
                            <h3 class="sidebar-heading">Meta</h3>
                            <hr class="hr-short">
                            <ul class="list-unstyled">
                              <li><a href="">Log In</a></li>
                              <li><a href="">Entries RSS</a></li>
                              <li><a href="">Comments RSS</a></li>
                              <li><a href="https://wordpress.org/">WordPress.org</a></li>
                            </ul>
                          </div>
                          <!-- End sidebar widget -->
                        </div> <!-- /.col -->

                      </div> <!-- /.row -->
                    </div>
                    <!-- End sidebar -->

                  </div> <!-- /.col (Right column) -->

                </div> <!-- /.row -->
              </div>
              <!-- End blog-list -->

            </div>
            <!-- End content wrap -->

          </div> <!-- /.col -->
        </div> <!-- /.row -->

        <div class="row">
          <div class="col-md-8">

            <!-- Begin pagination -->
            <nav class="pagination-wrap">
              <ul class="pagination">
                <li>
                  <a href="" aria-label="Previous">
                    <span aria-hidden="true">First</span>
                  </a>
                </li>
                <li><a href="">Prev</a></li>
                <li class="active"><a href="#0">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="#0">...</a></li>
                <li><a href="">6</a></li>
                <li><a href="">7</a></li>
                <li><a href="">8</a></li>
                <li><a href="">Next</a></li>
                <li>
                  <a href="" aria-label="Next">
                    <span aria-hidden="true">Last</span>
                  </a>
                </li>
              </ul>
            </nav>
            <!-- End pagination -->

          </div> <!-- /.col -->

          <div class="col-md-4">

            <!-- Begin pagination info -->
            <div class="pagination-info padding-top-15">
              <span>MOSTRAR PÁGINAs 1 of 8</span>
            </div>
            <!-- End pagination info -->

          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->

    </section>
    <!-- End content section -->



  </div>



  <!-- End body content -->

  <!-- Scroll to top button -->
  <a href="#body" class="scrolltotop sm-scroll"><i class="fas fa-chevron-up"></i></a>
  <app-footer></app-footer>
