<div class="row">
  <div class="col-md-8">
    <!-- Begin pagination -->
    <nav class="pagination-wrap">
      <ul class="pagination">
        <li>
          <a (click)="onPageChange(1)"  aria-label="Previous">
            <span aria-hidden="true">Primeiro</span>
          </a>
        </li>
        <li (click)="onPageChange(currentPage - 1)"> <a>Anterior</a></li>
        <li *ngFor="let page of pages" (click)="onPageChange(page)" [ngClass]="{ 'page-item': true, active: currentPage === page}"><a >{{ page }}</a></li>

        <li (click)="onPageChange(currentPage + 1)"><a>Proximo</a></li>
      <li (click)="onPageChange(totalPages)">
          <a aria-label="Next">
            <span aria-hidden="true">Ultimo</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End pagination -->
  </div> <!-- /.col -->

  <div class="col-md-4">

    <!-- Begin pagination info -->
    <div class="pagination-info ">
  <span>Mostrando Página 1 de {{totalPages}}</span>
      <span>Items 1 - {{limit}} de {{limit * totalPages}}</span>
    </div>
    <!-- End pagination info -->

  </div> <!-- /.col -->
</div> <!-- /.row -->
