<div class="col-md-12 col-sm-6">
  <!-- Begin sidebar widget -->
  <div class="sidebar-widget sidebar-photo-stream">
    <h3 class="sidebar-heading">Photo Stream</h3>
    <hr class="hr-short">

    <!-- Begin thumbnail list
    ==========================
    * Use class "col-2", "col-3", "col-4" "col-5" or "col-6" for thumbnail list columns.
    * Use class "gutter-1", "gutter-2", "gutter-3", "gutter-4" or "gutter-5" to add more space between items.
    -->
    <ul class="thumb-list col-4 gutter-4">
      <li><a href="album-single-masonry-5col.html" class="thumb-list-item bg-image" style="background-image: url(assets/img/blog/small/img-1.jpg);"></a></li>
      <li><a href="album-single-masonry-5col.html" class="thumb-list-item bg-image" style="background-image: url(assets/img/blog/small/img-2.jpg);"></a></li>
      <li><a href="album-single-masonry-5col.html" class="thumb-list-item bg-image" style="background-image: url(assets/img/blog/small/img-3.jpg);"></a></li>
      <li><a href="album-single-masonry-5col.html" class="thumb-list-item bg-image" style="background-image: url(assets/img/blog/small/img-4.jpg);"></a></li>
      <li><a href="album-single-masonry-5col.html" class="thumb-list-item bg-image" style="background-image: url(assets/img/blog/small/img-5.jpg);"></a></li>
      <li><a href="album-single-masonry-5col.html" class="thumb-list-item bg-image" style="background-image: url(assets/img/blog/small/img-6.jpg);"></a></li>
      <li><a href="album-single-masonry-5col.html" class="thumb-list-item bg-image" style="background-image: url(assets/img/blog/small/img-7.jpg);"></a></li>
      <li><a href="album-single-masonry-5col.html" class="thumb-list-item bg-image" style="background-image: url(assets/img/blog/small/img-8.jpg);"></a></li>
      <li><a href="album-single-masonry-5col.html" class="thumb-list-item bg-image" style="background-image: url(assets/img/blog/small/img-9.jpg);"></a></li>
      <li><a href="album-single-masonry-5col.html" class="thumb-list-item bg-image" style="background-image: url(assets/img/blog/small/img-10.jpg);"></a></li>
      <li><a href="album-single-masonry-5col.html" class="thumb-list-item bg-image" style="background-image: url(assets/img/blog/small/img-11.jpg);"></a></li>
      <li><a href="album-single-masonry-5col.html" class="thumb-list-item bg-image" style="background-image: url(assets/img/blog/small/img-12.jpg);"></a></li>

    </ul>
    <!-- End thumbnail list -->

  </div>
  <!-- End sidebar widget -->
</div> <!-- /.col -->
