<app-preloader></app-preloader>

<app-header></app-header>

<div id="body-content" class="scroll-container " >


  <section  id="intro-section" class="full-page bg-image-scroll-vertical scroll-image" style="background-image: url(assets/img/scrolling-bg.jpg); background-position: 50% 50%;">

    <!-- Element cover -->
    <div class="cover bg-transparent-6-dark"></div>

    <div class="made-with-love hide-from-sm">
      <p>Feito com <span class="text-red"><i class="far fa-heart"></i></span></p>
    </div>
    <!-- End made with love -->

  </section>

  <!-- End intro section -->
</div>

<app-footer></app-footer>
