  <!-- Begin footer -->
  <footer id="footer">
    <div class="footer-inner">
      <div class="container-fluid">
        <div class="row">

          <div class="col-sm-6">
            <div class="copyright">
              &copy; Cosplayers Gallery / All rights reserved
            </div>
          </div> <!-- /.col -->

          <div class="col-sm-6">
            <div class="social-icons">
              <ul>
                <li><a target="_blank" href="https://www.facebook.com" title="Follow us on Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a target="_blank" href="https://twitter.com/" title="Follow us on Twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a target="_blank" href="https://www.pinterest.com" title="Follow us on Pinterest"><i class="fab fa-pinterest-p"></i></a></li>
                <li><a target="_blank" href="https://www.instagram.com" title="Follow us on Instagram"><i class="fab fa-instagram"></i></a></li>
                <!-- shange "your@email.com" to your email -->
                <li><a target="_blank" href="mailto:your@email.com" title="Contact Us"><i class="fas fa-envelope"></i></a></li>
              </ul>
            </div>
          </div> <!-- /.col -->

        </div> <!-- /.row -->
      </div> <!-- /.container -->
    </div> <!-- /.footer-inner -->
  </footer>
  <!-- End footer -->


