
<div id="body">

  <app-preloader></app-preloader>

  <app-header></app-header>

  <div id="body-content">


    <!-- ================================
    ///// Begin page header section /////
    ================================= -->
    <section id="page-header-secion" class="alter-heading">

      <!-- Begin page header image
      ===============================
      * Use class "parallax" to enable parallax effect.
      -->
      <div class="page-header-image parallax bg-image" style="background-image: url({{photos[0].banner}}); background-position: 50% 50%;"></div>
      <!-- End page header image -->

      <!-- Element cover -->
      <div class="cover page-header-cover"></div>

      <!-- Begin page header info -->
      <div class="container-fluid page-header-content no-padding text-center">
        <div class="row">
          <div class="col-md-12">

            <h1 class="album-title">Album {{ photos[0].title }}</h1>
            <ol class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li><a href="portfolio-list-grid-4col.html">Album</a></li>
              <li class="active">{{ photos[0].cosplayer }} / {{ photos[0].title }}</li>
            </ol>

          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div>
      <!-- End page header info -->

    </section>
    <!-- End page header section -->


    <!-- ===============================================
    ///// Begin content section (portfolio single) /////
    ================================================ -->
    <section id="content-section" class="portfolio-single portfolio-single-5">

      <!-- Begin content wrap -->
      <div class="content-wrap">

        <div class="container full-width"> <!-- Use class "max-width-1200" or "full-width" -->
          <div class="row f-height">

            <div class="col-left col-md-4 col-lg-3">

              <!-- Begin portfolio-info -->
              <div class="portfolio-info">
                <div class="portfolio-info-inner">

                  <h1 class="portfolio-title">Sobre o Album:</h1>

                  <!-- Begin portfolio meta -->
                  <div class="album-meta">
                    <span class="photos-count">{{quantidadeItens}} Photos</span> /
                    <span class="photos-views">592 Views</span>
                  </div>
                  <!-- End portfolio meta -->

                  <!-- Begin author -->
                  <div class="author" style="display: flex; align-items: center;">
                    <a [routerLink]="['/album',  usuario[0].cosplayer ]" class="author-avatar bg-image" style="background-image: url(); background-position: 50% 50%;">
                      <img src="{{ usuario[0].avatar }}" style="border-radius: 50%; " alt="avatar">
                    </a>
                    <a [routerLink]="['/album',  usuario[0].cosplayer ]" style="margin-top: 20px; margin-left: 10px;" class="author-info">- {{ photos[0].cosplayer }} </a>
                  </div>
                  <!-- End author -->

                  <!-- Begin portfolio description -->
                  <div class="album-description margin-top-20">
                    <div class="al-desc-inner">
                      <p>{{ usuario[0].descricao }}</p>

                      <!-- Begin description toggle (hidden by default) -->
                      <div class="al-desc-toggle">
                        <p>Praesent ultricies interdum augue sit amet tempor. Maecenas at ultricies arcu. Sed lacinia vulputate nulla, at sollicitudin.</p>
                      </div>
                      <!-- End description toggle -->
                    </div>

                    <!-- Begin doggle trigger -->
                    <div class="al-desc-toggle-trigger">
                      <span class="al-desc-more"><i class="fas fa-chevron-down"></i> More</span>
                      <span class="al-desc-less"><i class="fas fa-chevron-up"></i> Less</span>
                    </div>
                    <!-- End doggle trigger -->
                  </div>
                  <!-- End portfolio description -->

                  <!-- Begin portfolio atr -->
                  <div class="portfolio-atr margin-top-50">
                    <ul class="list-unstyled">
                      <li>
                        <h4 class="head">Cosplayer:</h4>
                        <a [routerLink]="['/album',  usuario[0].cosplayer ]"  class="info">{{ usuario[0].cosplayer }}</a>
                      </li>

                      <li>
                        <h4 class="head">Website:</h4>
                        <span class="info"><a target="_blank" href="{{ usuario[0].website }}">{{ usuario[0].website }}</a></span>
                      </li>

                      <li>
                        <h4 class="head">Category:</h4>
                        <div *ngFor="let usuarioData of usuario">
                          <span  class="info"><a href="#">{{usuarioData.category}}</a></span>
                        </div>
                      </li>

                      <!-- Begin portfolio share -->
                      <li class="portfolio-share">
                        <h4 class="head">Share:</h4>
                        <span *ngIf="usuario[0].facebook" class="info"><a href="{{ usuario[0].facebook }}" title="Share to Facebook"><i class="fab fa-facebook-f"></i></a></span>
                        <span *ngIf="usuario[0].twitter" class="info"><a href="{{ usuario[0].twitter }}" title="Share to Twitter"><i class="fab fa-twitter"></i></a></span>
                        <span *ngIf="usuario[0].onlyfans" class="info"><a href="{{ usuario[0].onlyfans }}" title="Share to Pinterest"><i class="fab fa-pinterest-p"></i></a></span>
                        <span *ngIf="usuario[0].instagram" class="info"><a href="{{ usuario[0].instagram }}" title="Share to Instagram"><i class="fab fa-instagram"></i></a></span>
                        <span *ngIf="usuario[0].tiktok" class="info"><a href="{{ usuario[0].tiktok }}" title="Share to Pinterest"><i class="fab fa-tiktok"></i></a></span>
                        <span *ngIf="usuario[0].youtube" class="info"><a href="{{ usuario[0].youtube }}" title="Share to Instagram"><i class="fab fa-youtube"></i></a></span>
                      </li>
                      <!-- End portfolio share -->

                    </ul>
                  </div>
                  <!-- End portfolio atr -->

                </div> <!-- /.portfolio-info-inner -->
              </div>
              <!-- End portfolio-info -->

            </div> <!-- /.col -->

            <div class="col-right col-md-8 col-lg-9">

              <!-- Begin isotope
              ===================
              * Use classes "gutter-1", "gutter-2" or "gutter-3" to add more space between items.
              * Use class "col-1", "col-2", "col-3", "col-4", "col-5" or "col-6" for columns.
              -->
              <div class="isotope gutter-2 col-4">

                <!-- Begin gallery top content -->
                <div class="gallery-top-content margin-bottom-25">

                  <!-- Begin album attributes -->
                  <ul class="album-attributes">

                    <li class="pull-left">
                      <a class="back-to-list" href="portfolio-list-grid-4col.html">
                        <span class="bta-icon"><i class="fas fa-th-list"></i></span>
                        <span class="bta-text">Back to list</span>
                      </a>
                    </li>

                    <!-- Begin portfolio nav -->
                    <li class="portfolio-nav pull-right">
                      <a href="portfolio-single-1.html" class="pn-link portf-next" title="Next work">
                        <span class="pn-link-text hide-from-sm">Next</span>
                        <span class="pn-link-icon"><i class="fas fa-chevron-right"></i></span>
                      </a>
                    </li>

                    <li class="portfolio-nav pull-right">
                      <a href="portfolio-single-4.html" class="pn-link portf-prev margin-right-15" title="Previous work">
                        <span class="pn-link-icon"><i class="fas fa-chevron-left"></i></span>
                        <span class="pn-link-text hide-from-sm">Prev</span>
                      </a>
                    </li>
                    <!-- End portfolio nav -->

                  </ul>
                  <!-- End album attributes -->

                </div>
                <!-- End gallery top content -->


                <!-- Begin isotope items (album single items)
                ===============================================
                * Use classes "hover-center", "hover-boxed", "hover-dark", "hover-simple" to change album single item hover variations.
                * Note1: For grid layout make sure that your images are the same dimensions.
                * Note2: For masonry layout make sure that your images are the different dimensions.
                -->
                <div #grid  id="gallery" class="isotope-items-wrap " >

                  <!-- Grid sizer (do not remove!!!) -->
                  <div class="grid-sizer"></div>
                    <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide" class="lightgallery galery">

<!--
                   <a *ngFor="let photo of photos" class="asi-link lg-trigger" data-custom-prop="abc" href="{{photo.photoUrl}}" >
                      <img class="asi-img image" src="{{photo.photoUrl}}" alt="image">
                      <div class="overlay"></div>
                    </a>


                    <a *ngFor="let photo of photos" class="asi-link lg-triggera" data-custom-prop="abc" href="{{photo.photoUrl}}" >
                      <img class="asi-img" src="{{photo.photoUrl}}" alt="image">
                      <div class="overlay"></div>
                    </a> -->
                    <a *ngFor="let photo of photos"  class="aaa" data-custom-prop="abc" href="{{photo.photoUrl}}">
                    <div class="isotope-item fashion">
                    <div class="album-single-item">

                          <img class="asi-img" src="{{photo.photoUrl}}" alt="image">

                          <div class="asi-cover">
                            <a class="asi-link lg-trigger" href="{{photo.photoUrl}}" data-exthumbnail="{{photo.photoUrl}}">
                              <div class="asi-info">
                                <h2 class="asi-title">{{photo.title}}</h2>
                                <h5 class="asi-sub-title">#{{photo.category}}</h5>
                              </div>
                            </a>

                            <div class="favorite-btn">
                              <div class="fav-inner">
                                <div class="icon-heart">
                                  <span class="icon-heart-empty"></span>
                                  <span class="icon-heart-filled"></span>
                                </div>
                              </div>
                              <div class="fav-count"><!-- 1169 --></div>
                            </div>


                          </div>

                        </div>


                      </div>

</a>


                  </lightgallery>


                </div>
                <!-- End isotope items wrap -->


              </div>
              <!-- End isotope -->








            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->

      </div>
      <!-- End content wrap -->

    </section>
    <!-- End content section -->

    </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>

</div>
