<div class="col-md-12 col-sm-6">
  <!-- Begin sidebar widget -->
  <div class="sidebar-widget sidebar-categories">
    <h3 class="sidebar-heading">Blog Categories</h3>
    <hr class="hr-short">
    <ul class="list-unstyled">
      <li><a href="#">#Fashion <span>26</span></a></li>
      <li><a href="#">#Portraits <span>54</span></a></li>
      <li><a href="#">#Black &amp; White <span>17</span></a></li>
      <li><a href="#">#Outdoor <span>19</span></a></li>
      <li><a href="#">#Varia <span>67</span></a></li>
    </ul>
  </div>
  <!-- End sidebar widget -->
</div> <!-- /.col -->
