<div class="col-md-12 col-sm-6">
  <!-- Begin sidebar widget -->
  <div class="sidebar-widget sidebar-post-list">
    <h3 class="sidebar-heading">Recent Posts</h3>
    <hr class="hr-short">
    <ul class="list-unstyled">
      <li>
        <a href="blog-single-sidebar-right.html" class="post-thumb bg-image" style="background-image: url(assets/img/blog/small/img-13.jpg); background-position: 50% 50%;"></a>
        <div class="post-data">
          <h5 class="post-title"><a href="blog-single-sidebar-right.html">One Day Fashion Shoot</a></h5>
          <span class="author">By: <a href="">Henry Harrison</a></span>
          <span class="date">29 jan 2016</span>
        </div>
      </li>
      <li>
        <a href="blog-single-sidebar-right.html" class="post-thumb bg-image" style="background-image: url(assets/img/blog/small/img-14.jpg); background-position: 50% 50%;"></a>
        <div class="post-data">
          <h5 class="post-title"><a href="blog-single-sidebar-right.html">The History of Photography</a></h5>
          <span class="author">By: <a href="">Anna Verik</a></span>
          <span class="date">12 jan 2016</span>
        </div>
      </li>
      <li>
        <a href="blog-single-sidebar-right.html" class="post-thumb bg-image" style="background-image: url(assets/img/blog/small/img-15.jpg); background-position: 50% 50%;"></a>
        <div class="post-data">
          <h5 class="post-title"><a href="blog-single-sidebar-right.html">Travel Photography Tips</a></h5>
          <span class="author">By: <a href="">Joseph Reeves</a></span>
          <span class="date">06 jan 2016</span>
        </div>
      </li>
      <li>
        <a href="blog-single-sidebar-right.html" class="post-thumb bg-image" style="background-image: url(assets/img/blog/small/img-10.jpg); background-position: 50% 50%;"></a>
        <div class="post-data">
          <h5 class="post-title"><a href="blog-single-sidebar-right.html">Night Photography</a></h5>
          <span class="author">By: <a href="">John Doe</a></span>
          <span class="date">03 jan 2016</span>
        </div>
      </li>
    </ul>
  </div>
  <!-- End sidebar widget -->
</div> <!-- /.col -->
