<div id="body">

  <app-preloader></app-preloader >

  <app-header></app-header>

  <div id="body-content" >


    <!-- ================================
    ///// Begin page header section /////
    ================================= -->
    <section id="page-header-secion" class="alter-heading">

      <!-- Begin page header image
      ===============================
      * Use class "parallax" to enable parallax effect.
      -->
      <div class="page-header-image parallax bg-image" style="background-image: url(assets/img/headings/heading-2.jpg); background-position: 50% 50%;"></div>
      <!-- End page header image -->

      <!-- Element cover -->
      <div class="cover page-header-cover"></div>

      <!-- Begin page header info -->
      <div class="container-fluid page-header-content no-padding text-center">
        <div class="row">
          <div class="col-md-12">

            <h1 class="album-title">Galeria</h1>
            <ol class="breadcrumb">
              <li><a href="index.html">Home</a></li>
              <li class="active">Galeria - Anime</li>
            </ol>

           <!--  <div *ngIf="user">{{ usuario }} <a (click)="logOut()">(logout)</a></div> -->


          </div> <!-- /.col -->
          <form [formGroup]="formSearch"  class="form-inline show-on-page" (ngSubmit)="search()" >
              <div class="form-group">
                <input type="text" class="form-control" id="search" placeholder="Pesquisar" formControlName="search">
                <button type="submit" class="btn btn-primary botao-search">Ok</button>
              </div>
          </form>
        </div> <!-- /.row -->
      </div>
      <!-- End page header info -->

    </section>
    <!-- End page header section -->

    <!-- ============================
    ///// Begin content section /////
    ============================= -->
    <section id="content-section" class="portfolio-list-masonry">
      <div class="container-fluid">
        <div class="row">
          <div class="gallery-top-content">

            <div class="row margin-bottom-40">
              <div class="col-md-8">

                <!-- Begin isotope filter -->
                <div class="isotope-filter">

                  <!-- Begin isotope filter toggle button -->
                  <div class="navbar-header visible-xs">
                    <button type="button" class="navbar-toggle collapsed filter-toggle-btn" data-toggle="collapse" data-target="#isotope-filter-collapse">
                      <span class="text-center">Filter <i class="fas fa-bars"></i></span>
                    </button>
                  </div>
                  <!-- End isotope filter toggle button -->

                  <h2 class="filter-heading">Filters</h2>

                  <!-- Begin isotope filter links -->
                  <div class="isotope-filter-links collapse navbar-collapse no-padding" id="isotope-filter-collapse">
                    <a (click)="filterAll()" data-filter="*">all</a>
                    <a (click)="filterElements('ecchi')" data-filter=".ecchi">Ecchi</a>
                    <a (click)="filterElements('classico')" data-filter=".classico">Clássico</a>
                    <a (click)="filterElements('fantasia-epica')" data-filter=".fantasia-epica">Fantasia &amp; Épica</a>
                    <a (click)="filterElements('crossplay')">Crossplay</a>
                  </div>
                  <!-- End isotope filter links -->

                </div>
                <!-- End isotope filter -->

              </div> <!-- /.col -->

              <div class="col-md-4">

                <!-- Begin album attributes -->
                <ul class="album-attributes margin-top-30 hide-from-md">

                  <!-- Begin show items on page
                  ==============================
                  * Use class "options-dark" to enable dark dropdown menu.
                  -->
                  <li><form class="form-inline show-on-page">
                    <div class="form-group">
                      <label for="show-items">Veja:</label>
                      <select (change)="onPageLimit($event)" id="show-items" class="select-styled">
                        <option value="40">40 Fotos</option>
                        <option value="80">80 Fotos</option>
                        <option value="100">100 Fotos</option>
                        <option value="150">150 Fotos</option>
                        <option value="200">200 Fotos</option>
                      </select>
                    </div>
                  </form></li>
                  <!-- End show items on page -->

                </ul>
                <!-- End album attributes -->

              </div> <!-- /.col -->
            </div> <!-- /.row -->

          </div>
          <div class="col-md-12">

            <!-- Begin content wrap -->
            <div class="content-wrapa">
              <div class="isotope gutter-2 col-6" >
                <div #grid class="isotope-items-wrap ali-style-2 caption-outside">
                  <div class="grid-sizer"></div>
                  <div *ngFor="let data of displayedphotos" class="isotope-item  {{data.class}}">
                    <div class="album-list-item">
                      <a class="ali-link" [routerLink]="['/cosplay',data.cosplayer, data.slug]"  data-lg-thumbnail="{{data.imagem}}">
                        <div class="ali-img-wrap">
                          <img class="ali-img"  src="{{data.imagem}}" alt="{{data.nome}}">
                        </div>

                      </a>
                      <a href="#0" class="album-share " title="Share this album" data-toggle="modal" data-target="#modal-76532457">

                        <div class="ali-caption messagem">
                          <h2 class="ali-title">{{data.nome}}</h2>
                          <span class="text-1">{{data.cosplayer}}</span>
                          <div class="ali-meta mt-1">{{data.qtdImg}} fotos <!-- · 134 views --></div>
                        </div>
                      </a>

                      <!-- Begin album share modal -->
                      <div id="modal-76532457" class="modal fade" tabindex="-1" role="dialog">
                        <div class="modal-dialog modal-center">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                              <h4 class="modal-title">Share to:</h4>
                            </div>
                            <div class="modal-body text-center">
                              <!-- Begin modal share -->
                              <div class="modal-share">
                                <ul>
                                  <li><a href="#0" class="btn btn-social-min btn-facebook btn-rounded-full"><i class="fab fa-facebook-f"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-twitter btn-rounded-full"><i class="fab fa-twitter"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-google btn-rounded-full"><i class="fab fa-google-plus-g"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-pinterest btn-rounded-full"><i class="fab fa-pinterest-p"></i></a></li>
                                  <li><a href="#0" class="btn btn-social-min btn-instagram btn-rounded-full"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                                <input class="grab-link" type="text" readonly="" value="https://your-site.com/your-album-link" onclick="this.select()">
                              </div>
                              <!-- End modal share -->
                            </div>
                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                      </div>
                      <!-- End album share modal -->

                    </div>
                    <!-- End album list item -->

                  </div>


                </div>
                <!-- End isotope items wrap -->

              </div>
              <!-- End isotope -->

            </div>
            <!-- End content wrap -->

          </div> <!-- /.col -->
        </div> <!-- /.row -->


        <app-paginator *ngIf="paginator"
          [currentPage]="currentPage"
          [totalPages]="totalPages"
          [limit]="pageSize"
          (pageChanged)="onPageChanged($event)"
        ></app-paginator>

      </div> <!-- /.container -->
    </section>
    <!-- End content section -->

  <div class="footer">
    <app-footer></app-footer>
  </div>

  </div>
  <!-- End body content -->

  <!-- Scroll to top button -->
  <a href="#body" class="scrolltotop sm-scroll"><i class="fas fa-chevron-up"></i></a>


